.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: rgba(39, 43, 56, 0.175);
    color: white;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .header-title{
    margin-top: 50px;
    margin-left: 40px; 
     }
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .sidebar-nav-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    border: none;
    background: none;

    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    width: 100%;
    text-align: left;
}

.sidebar-nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly stronger hover color */
    transform: scale(1.02); /* Slightly enlarges button */
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2); /* Soft glow effect */
    border-radius: 5px; /* Slight rounding for better feel */
}
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .header-search {
    position: relative;
  }
  
  .search-input {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: #333;
    color: white;
    width: 200px;
  }
  
  .search-input::placeholder {
    color: #888;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .header-button {
    position: relative;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
  }

  .user-profile {
    display: flex;
    margin-right: 20px;
    align-items: center;
    margin-top: 0px;
  }
  
  .profile-image {
    width: 32px;
    height: 32px;
    margin-top: 0px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  